---
import PrimaryButton from "../helpers/PrimaryButton.astro";
import Logo_Large from "../../assets/logo_large.svg";
import Form from "../helpers/Form.jsx";
---

<section
    id="footer"
    data-nav-color="text-brown"
    class="min-h-screen flex flex-col lg:gap-20 w-full bg-light pt-36 pb-20 px-6 lg:px-24 content-end"
>
    <Form client:visible language="en" />

    <div
        class="h-full lg:h-[60vh] flex flex-col gap-16 items-center justify-between"
    >
        <div
            class="flex flex-col lg:flex-row lg:justify-between items-stretch justify-center w-fit gap-12 lg:order-2 lg:hidden"
        >
            <PrimaryButton
                className="text-xl px-8 py-3 w-full text-center hidden lg:block"
                text="LinkedIn"
            />
            <PrimaryButton
                className="text-xl px-8 py-3 w-full text-center hidden lg:block"
                text="Facebook"
            />
            <PrimaryButton
                className="text-xl px-8 py-3 w-full text-center hidden lg:block"
                text="Instagram"
            />
        </div>

        <div
            class="flex-col lg:flex-row gap-8 w-full justify-center lg:justify-between hidden lg:flex lg:order-1"
        >
            <div>
                <h3 class="text-xl lg:text-4xl font-bold lg:leading-normal">
                    Address
                </h3>
                <a
                    href="https://maps.google.com/?q=12255+SW+128th+St+Suite+402,+Miami,+Florida+33186"
                    target="_blank"
                    rel="noopener noreferrer"
                    class="no-style hover-underline-animation"
                >
                    <h4
                        class="text-lg lg:text-3xl lg:leading-normal inline-block"
                    >
                        12255 SW 128th St Suite 402,<br
                            class="hidden lg:block"
                        /> Miami, Florida 33186
                    </h4>
                </a>
            </div>
            <div class="lg:text-right">
                <h3 class="text-xl lg:text-4xl font-bold lg:leading-normal">
                    Email Us
                </h3>
                <a
                    href="mailto:info@mutatidesign.com"
                    class="no-style hover-underline-animation"
                >
                    <h4
                        class="text-lg lg:text-3xl lg:leading-normal inline-block"
                    >
                        info@mutatidesign.com
                    </h4>
                </a>
            </div>
        </div>

        <div
            class="flex flex-col items-start justify-center text-left gap-8 w-full lg:order-2"
        >
            <div
                class="flex flex-col lg:flex-row gap-8 w-full justify-center lg:justify-between lg:hidden"
            >
                <div>
                    <h3 class="text-xl font-bold">Address</h3>
                    <a
                        href="https://maps.google.com/?q=12255+SW+128th+St+Suite+402,+Miami,+Florida+33186"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover-underline-animation"
                    >
                        <h4 class="text-lg inline-block">
                            12255 SW 128th St Suite 402, Miami, Florida 33186
                        </h4>
                    </a>
                </div>
                <div>
                    <h3 class="text-xl font-bold">Email Us</h3>
                    <a
                        href="mailto:info@mutatidesign.com"
                        class="hover-underline-animation"
                    >
                        <h4 class="text-lg inline-block">
                            info@mutatidesign.com
                        </h4>
                    </a>
                </div>
            </div>

            <div
                class="flex-rowjustify-between items-stretch justify-between w-full gap-12 hidden lg:flex text-xl lg:text-4xl"
            >
                <PrimaryButton
                    className="lg:px-12 lg:py-4 w-fit text-center"
                    text="LinkedIn"
                />
                <PrimaryButton
                    className="lg:px-12 lg:py-4  w-fit text-center"
                    text="Facebook"
                />
                <PrimaryButton
                    className="lg:px-12 lg:py-4   w-fit text-center"
                    text="Instagram"
                />
            </div>
            <div class="h-1 lg:h-[0.4rem] w-full bg-brown"></div>

            <Logo_Large class="w-full text-brown" />
        </div>
    </div>
</section>

<style>
    /* Efecto Hover: Underline de izquierda a derecha */
    .hover-underline-animation {
        display: inline-block;
        position: relative;
        text-decoration: none;
    }

    /* Añadimos margin-bottom para que la línea no quede pegada a la letra 'p' o 'g' */
    .hover-underline-animation h4 {
        position: relative;
        padding-bottom: 2px;
    }

    .hover-underline-animation h4::after {
        content: "";
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 1px; /* Grosor de la línea */
        bottom: 0;
        left: 0;
        background-color: currentColor; /* Usa el color del texto actual */
        transform-origin: bottom right;
        transition: transform 0.3s cubic-bezier(0.25, 1, 0.5, 1);
    }

    .hover-underline-animation:hover h4::after {
        transform: scaleX(1);
        transform-origin: bottom left; /* Expande desde la izquierda hacia la derecha */
    }
</style>
