---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Statistics from "../components/Statistics.astro";
import Projects from "../components/Projects.astro";
import BeforeAfter from "../components/BeforeAfter.astro";
---

<Layout>
  <div
    id="hero-bg"
    class="fixed inset-0 over -z-10 h-dvh bg-[url('../assets/cover.jpg')] will-change-transform bg-cover bg-center bg-no-repeat blur-md scale-[1.1]"
  >
  </div>
  <section id="scroll-container" class="h-[200dvh] w-full relative z-0">
    <div class="h-dvh w-full snap-start">
      <Home />
    </div>
    <div class="h-dvh w-full snap-start">
      <!-- added background to About container to make text readable over fixed bg if needed, or just layout -->
      <About />
    </div>
  </section>
  <Statistics />
  <Projects />
  <BeforeAfter />

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    gsap.to("#hero-bg", {
      filter: "blur(0px)",
      scrollTrigger: {
        trigger: "#scroll-container",
        start: "top top",
        end: "bottom bottom",
        scrub: true,
      },
    });
  </script>
</Layout>
