---
import Layout from "../layouts/Layout.astro";
import Home from "../components/Home.astro";
import About from "../components/About.astro";
import Statistics from "../components/Statistics.astro";
import Projects from "../components/Projects.astro";
import BeforeAfter from "../components/BeforeAfter.astro";
import InteriorSurface from "../components/InteriorSurface.astro";
import FAQ from "../components/FAQ.astro";
import ProjectVideo from "../components/ProjectVideo.astro";
---

<Layout>
  <div
    id="hero-bg"
    class="fixed inset-0 overflow-hidden -z-10 h-screen bg-[url('../assets/cover.webp')] lg:bg-[url('../assets/cover_desktop.webp')] will-change-transform bg-cover bg-center bg-no-repeat blur-md scale-[1.1]"
  >
  </div>
  <section id="scroll-container" class="h-[200vh] w-full relative z-0">
    <div class="h-screen w-full">
      <Home />
    </div>
    <div class="h-screen w-full relative z-20">
      <About />
    </div>
  </section>
  <Statistics />
  <Projects />
  <ProjectVideo />
  <BeforeAfter />
  <InteriorSurface />
  <FAQ />

  <script>
    import { gsap } from "gsap";
    import { ScrollTrigger } from "gsap/ScrollTrigger";

    gsap.registerPlugin(ScrollTrigger);

    // Evita saltos por el cambio de tamaño de la barra de direcciones en móvil
    ScrollTrigger.config({
      ignoreMobileResize: true,
    });

    gsap.to("#hero-bg", {
      filter: "blur(0px)",
      scrollTrigger: {
        trigger: "#scroll-container",
        start: "top top",
        end: "bottom bottom",
        scrub: true,
      },
    });
  </script>
</Layout>
