<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Privacy Policy</title>
    </head>
    <style>
        body {
            background: #e8e3e1;
            color: #493e2a;
            font-family: "Montserrat", sans-serif;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 15px;
        }
        th,
        td {
            border: 1px solid black; /* Agrega bordes a las celdas */
            padding: 8px; /* Espaciado interno */
            text-align: left; /* Alineación del texto */
        }
        th {
            background-color: #e8e3e1; /* Color de fondo para encabezados */
        }
        ul,
        ol {
            list-style-type: disc; /* Aplica viñetas (puntos) a las listas */
            margin-left: 20px; /* Agrega un margen para alinear las viñetas */
            padding-left: 20px; /* Espaciado interno para las viñetas */
        }
        .privacy-policy-container {
            margin: 5vw;
        }
        h1 {
            font-size: 2.1em; /* Largest font size */
            margin-top: 10px;
            margin-bottom: 5px;
            margin-left: 0;
        }
        h4 {
            font-size: 1.8em; /* Largest font size */
            margin-top: 40px;
            margin-bottom: 15px;
            line-height: 1;
            margin-left: 0;
        }
        h5 {
            font-size: 1.3em;

            margin-bottom: 40px;
        }
        h2 {
            font-size: 1.8em; /* Second largest font size */
            margin: 10px;
            line-height: 1;
            margin-left: 0;
        }
        h3 {
            font-size: 1.5em; /* Third largest font size */
            margin-left: 0;
        }
        p,
        li {
            font-size: 1.3em; /* Default font size for paragraphs */
            margin-bottom: 10px; /* Adds bottom margin to each <p> */
        }
        a {
            text-decoration: underline;
            text-underline-offset: 6px;
            color: #493e2a;
            cursor: pointer;
            margin-left: 5px;
        }
    </style>

    <div class="privacy-policy-container">
        <h1>
            <strong>PRIVACY NOTICE</strong>
        </h1>
        <h5>
            <strong>Last updated February 28, 2026</strong>
        </h5>
        <p>
            This Privacy Notice for Mutati Design ("<strong>we</strong>," "
            <strong>us</strong>," or "<strong>our</strong>"), describes how and
            why we might access, collect, store, use, and/or share ("
            <strong>process</strong>") your personal information when you use
            our services ("<strong>Services</strong>"), including when you:
        </p>
        <ul>
            <li>
                Visit our website at
                <a href="https://www.mutatidesign.com">
                    https://www.mutatidesign.com
                </a>
                , or any website of ours that links to this Privacy Notice
            </li>
            <li>
                Engage with us in other related ways, including any sales,
                marketing, or events. <strong>Questions or concerns?</strong>{
                    " "
                }
                Reading this Privacy Notice will help you understand your privacy
                rights and choices. We are responsible for making decisions about
                how your personal information is processed. If you do not agree with
                our policies and practices, please do not use our Services. If you
                still have any questions or concerns, please contact us at
                <a href="mailto:info@mutatidesign.com">
                    info@mutatidesign.com
                </a>
                .
            </li>
        </ul>
        <h4>SUMMARY OF KEY POINTS</h4>
        <p>
            <strong>
                <i>
                    This summary provides key points from our Privacy Notice,
                    but you can find out more details about any of these topics
                    by clicking the link following each key point or by using
                    our
                    <a href="#table-of-content">table of contents</a> below to find
                    the section you are looking for.
                </i>
            </strong>
        </p>
        <p>
            <strong>What personal information do we process?</strong>
            When you visit, use, or navigate our Services, we may process personal
            information depending on how you interact with us and the Services, the
            choices you make, and the products and features you use. Learn more about
            <a href="#personal-information-you-disclose-to-us">
                personal information you disclose to us
            </a>
            .
        </p>
        <p>
            <strong>Do we process any sensitive personal information?</strong>
            Some of the information may be considered "special" or "sensitive" in
            certain jurisdictions, for example your racial or ethnic origins, sexual
            orientation, and religious beliefs. We do not process sensitive personal
            information.
        </p>

        <p>
            <strong>Do we collect any information from third parties?</strong> We
            do not collect any information from third parties.
        </p>
        <p>
            <strong>How do we process your information?</strong>
            We process your information to provide, improve, and administer our Services,
            communicate with you, for security and fraud prevention, and to comply
            with law. We may also process your information for other purposes with
            your consent. We process your information only when we have a valid legal
            reason to do so. Learn more about
            <a href="#how-we-process-your-info">
                how we process your information
            </a>
            .
        </p>

        <p>
            <strong>
                In what situations and with which parties do we share personal
                information?
            </strong>
            We may share information in specific situations and with specific third
            parties. Learn more about
            <a href="#when-and-with-whom">
                when and with whom we share your personal information
            </a>
            .
        </p>
        <p>
            <strong>Do we collect any information from third parties?</strong>
            We do not collect any information from third parties.
        </p>
        <p>
            <strong>How do we process your information?</strong>
            We process your information to provide, improve, and administer our Services,
            communicate with you, for security and fraud prevention, and to comply
            with law. We may also process your information for other purposes with
            your consent. We process your information only when we have a valid legal
            reason to do so. Learn more about
            <a href="#how-we-process-your-info">
                how we process your information
            </a>
            .
        </p>
        <p>
            <strong>
                In what situations and with which parties do we share personal
                information?
            </strong>
            We may share information in specific situations and with specific third
            parties. Learn more about
            <a href="#when-and-with-whom">
                when and with whom we share your personal information
            </a>
            .
        </p>
        <p>
            <strong>How do we keep your information safe?</strong>
            We have adequate organizational and technical processes and procedures
            in place to protect your personal information. However, no electronic
            transmission over the internet or information storage technology can be
            guaranteed to be 100% secure, so we cannot promise or guarantee that hackers,
            cybercriminals, or other unauthorized third parties will not be able to
            defeat our security and improperly collect, access, steal, or modify your
            information. Learn more about
            <a href="#how-we-keep-your-info-save">
                how we keep your information safe
            </a>
            .
        </p>
        <p>
            <strong>What are your rights?</strong>
            Depending on where you are located geographically, the applicable privacy
            law may mean you have certain rights regarding your personal information.
            Learn more about{" "}
            <a href="#privacy-rights">your privacy rights</a>.
        </p>
        <p>
            <strong>How do you exercise your rights?</strong>
            The easiest way to exercise your rights is by submitting a
            <a href="#">data subject access request</a>, or by contacting us. We
            will consider and act upon any request in accordance with applicable
            data protection laws.
        </p>
        <p>
            Want to learn more about what we do with any information we collect?
            <a href="#table-of-content">Review the Privacy Notice in full.</a>
        </p>
        <h4 id="table-of-content">TABLE OF CONTENTS</h4>
        <ol>
            <li>
                <a href="#info-collection">WHAT INFORMATION DO WE COLLECT?</a>
            </li>
            <li>
                <a href="#how-we-process-your-info">
                    HOW DO WE PROCESS YOUR INFORMATION?
                </a>
            </li>
            <li>
                <a href="#when-and-with-whom">
                    WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?
                </a>
            </li>
            <li>
                <a href="#info-retention"
                    >HOW LONG DO WE KEEP YOUR INFORMATION?</a
                >
            </li>
            <li>
                <a href="#how-we-keep-your-info-save">
                    HOW DO WE KEEP YOUR INFORMATION SAFE?
                </a>
            </li>
            <li>
                <a href="#info-minors">DO WE COLLECT INFORMATION FROM MINORS?</a
                >
            </li>
            <li>
                <a href="#privacy-rights">WHAT ARE YOUR PRIVACY RIGHTS?</a>
            </li>
            <li>
                <a href="#info-do-not-track"
                    >CONTROLS FOR DO-NOT-TRACK FEATURES</a
                >
            </li>
            <li>
                <a href="#info-us-residents">
                    DO UNITED STATES RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
                </a>
            </li>
            <li>
                <a href="#info-updates">DO WE MAKE UPDATES TO THIS NOTICE?</a>
            </li>
            <li>
                <a href="#info-contact">
                    HOW CAN YOU CONTACT US ABOUT THIS NOTICE?
                </a>
            </li>
            <li>
                <a href="#info-review">
                    HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT
                    FROM YOU?
                </a>
            </li>
        </ol>
        <h4 id="info-collection">1. WHAT INFORMATION DO WE COLLECT?</h4>
        <h2 id="personal-information-you-disclose-to-us">
            Personal information you disclose to us
        </h2>
        <p>
            <em>
                <strong>In Short:</strong>
            </em>{" "}
            We collect personal information that you provide to us.
        </p>
        <p>
            We collect personal information that you voluntarily provide to us
            when you express an interest in obtaining information about us or
            our products and Services, when you participate in activities on the
            Services, or otherwise when you contact us.
        </p>
        <p>
            <strong>Personal Information Provided by You.</strong> The personal information
            that we collect depends on the context of your interactions with us and
            the Services, the choices you make, and the products and features you
            use. The personal information we collect may include the following:
        </p>
        <ul>
            <li>names</li>
            <li>email addresses</li>
        </ul>
        <p>
            <strong>Sensitive Information.</strong> We do not process sensitive information.
        </p>
        <p>
            All personal information that you provide to us must be true,
            complete, and accurate, and you must notify us of any changes to
            such personal information.
        </p>
        <h2 id="how-we-process-your-info">
            2. HOW DO WE PROCESS YOUR INFORMATION?
        </h2>
        <p>
            <em>
                <strong>In Short:</strong>
            </em>{" "}
            We process your information to provide, improve, and administer our Services,
            communicate with you, for security and fraud prevention, and to comply
            with law. We may also process your information for other purposes with
            your consent.
        </p>
        <p>
            <strong>
                We process your personal information for a variety of reasons,
                depending on how you interact with our Services, including:
            </strong>
        </p>
        <p>
            <strong>
                To deliver and facilitate delivery of services to the user.
            </strong>{" "}
            We may process your information to provide you with the requested service.
        </p>
        <p>
            <strong
                >To respond to user inquiries/offer support to users.
            </strong>
            We may process your information to respond to your inquiries and solve
            any potential issues you might have with the requested service.
        </p>
        <h2 id="when-and-with-whom">
            3. WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?
        </h2>
        <p>
            <strong>
                <em>In Short:</em>
            </strong>{" "}
            We may share information in specific situations described in this section
            and/or with the following third parties.
        </p>
        <p>
            We may need to share your personal information in the following
            situations:
        </p>
        <ul>
            <li>
                <strong>Business Transfers:</strong> We may share or transfer your
                information in connection with, or during negotiations of, any merger,
                sale of company assets, financing, or acquisition of all or a portion
                of our business to another company.
            </li>
        </ul>
        <h2 id="info-retention">4. HOW LONG DO WE KEEP YOUR INFORMATION?</h2>
        <p>
            <strong>
                <em>In Short:</em>
            </strong>{" "}
            We keep your information for as long as necessary to fulfill the purposes
            outlined in this Privacy Notice unless otherwise required by law.
        </p>
        <p>
            We will only keep your personal information for as long as it is
            necessary for the purposes set out in this Privacy Notice, unless a
            longer retention period is required or permitted by law (such as
            tax, accounting, or other legal requirements).
        </p>
        <p>
            When we have no ongoing legitimate business need to process your
            personal information, we will either delete or anonymize such
            information, or, if this is not possible (for example, because your
            personal information has been stored in backup archives), then we
            will securely store your personal information and isolate it from
            any further processing until deletion is possible.
        </p>
        <h2 id="how-we-keep-your-info-save">
            5. HOW DO WE KEEP YOUR INFORMATION SAFE?
        </h2>
        <p>
            <em>
                <strong>In Short:</strong>
            </em>{" "}
            We aim to protect your personal information through a system of organizational
            and technical security measures.
        </p>
        <p>
            We have implemented appropriate and reasonable technical and
            organizational security measures designed to protect the security of
            any personal information we process. However, despite our safeguards
            and efforts to secure your information, no electronic transmission
            over the Internet or information storage technology can be
            guaranteed to be 100% secure, so we cannot promise or guarantee that
            hackers, cybercriminals, or other unauthorized third parties will
            not be able to defeat our security and improperly collect, access,
            steal, or modify your information. Although we will do our best to
            protect your personal information, transmission of personal
            information to and from our Services is at your own risk. You should
            only access the Services within a secure environment.
        </p>
        <h2 id="info-minors">6. DO WE COLLECT INFORMATION FROM MINORS?</h2>
        <p>
            <em>
                <strong>In Short:</strong>
            </em>{" "}
            We do not knowingly collect data from or market to children under 18 years
            of age.
        </p>
        <p>
            We do not knowingly collect, solicit data from, or market to
            children under 18 years of age, nor do we knowingly sell such
            personal information. By using the Services, you represent that you
            are at least 18 or that you are the parent or guardian of such a
            minor and consent to such minor dependent's use of the Services. If
            we learn that personal information from users less than 18 years of
            age has been collected, we will deactivate the account and take
            reasonable measures to promptly delete such data from our records.
            If you become aware of any data we may have collected from children
            under age 18, please contact us at info@mutatidesign.com.
        </p>
        <h2 id="privacy-rights">7. WHAT ARE YOUR PRIVACY RIGHTS?</h2>
        <p>
            <em>
                <strong>In Short:</strong>
            </em>{" "}
            You may review, change, or terminate your account at any time, depending
            on your country, province, or state of residence.
        </p>
        <p>
            Withdrawing your consent: If we are relying on your consent to
            process your personal information, which may be express and/or
            implied consent depending on the applicable law, you have the right
            to withdraw your consent at any time. You can withdraw your consent
            at any time by contacting us by using the contact details provided
            in the section{" "}
            <a href="#info-contact">
                "HOW CAN YOU CONTACT US ABOUT THIS NOTICE?"
            </a>{" "}
            below.
        </p>
        <p>
            However, please note that this will not affect the lawfulness of the
            processing before its withdrawal nor, when applicable law allows,
            will it affect the processing of your personal information conducted
            in reliance on lawful processing grounds other than consent.
        </p>
        <p>
            If you have questions or comments about your privacy rights, you may
            email us at info@mutatidesign.com.
        </p>
        <h2 id="info-do-not-track">8. CONTROLS FOR DO-NOT-TRACK FEATURES</h2>
        <p>
            Most web browsers and some mobile operating systems and mobile
            applications include a Do-Not-Track ("DNT") feature or setting you
            can activate to signal your privacy preference not to have data
            about your online browsing activities monitored and collected. At
            this stage, no uniform technology standard for recognizing and
            implementing DNT signals has been finalized. As such, we do not
            currently respond to DNT browser signals or any other mechanism that
            automatically communicates your choice not to be tracked online. If
            a standard or online tracking is adopted that we must follow in the
            future, we will inform you about that practice in a revised version
            of this Privacy Notice.
        </p>
        <p>
            California law requires us to let you know how we respond to web
            browser DNT signals. Because there currently is not an industry or
            legal standard for recognizing or honoring DNT signals, we do not
            respond to them at this time.
        </p>
        <h2 id="info-us-residents">
            9. DO UNITED STATES RESIDENTS HAVE SPECIFIC PRIVACY RIGHTS?
        </h2>
        <p>
            <em>
                <strong>In Short:</strong> If you are a resident of California, Colorado,
                Connecticut, Delaware, Florida, Indiana, Iowa, Kentucky, Maryland,
                Minnesota, Montana, Nebraska, New Hampshire, New Jersey, Oregon, Rhode
                Island, Tennessee, Texas, Utah, or Virginia, you may have the right
                to request access to and receive details about the personal information
                we maintain about you and how we have processed it, correct inaccuracies,
                get a copy of, or delete your personal information. You may also have
                the right to withdraw your consent to our processing of your personal
                information. These rights may be limited in some circumstances by
                applicable law. More information is provided below.
            </em>
        </p>
        <h2>Categories of Personal Information We Collect</h2>
        <p>
            We have collected the following categories of personal information
            in the past twelve (12) months:
        </p>
        <table>
            <thead>
                <tr>
                    <th>
                        <h2>Category</h2>
                    </th>
                    <th>
                        <h2>Examples</h2>
                    </th>
                    <th>
                        <h2>Collected</h2>
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <h3>A. Identifiers</h3>
                    </td>
                    <td>
                        <p>
                            Contact details, such as real name, alias, postal
                            address, telephone or mobile contact number, unique
                            personal identifier, online identifier, Internet
                            Protocol address, email address, and account name
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            B. Personal information as defined in the California
                            Customer Records statute
                        </h3>
                    </td>
                    <td>
                        <p>
                            Name, contact information, education, employment,
                            employment history, and financial information
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            C. Protected classification characteristics under
                            state or federal law
                        </h3>
                    </td>
                    <td>
                        <p>
                            Gender, age, date of birth, race and ethnicity,
                            national origin, marital status, and other
                            demographic data
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>D. Commercial information</h3>
                    </td>
                    <td>
                        <p>
                            Transaction information, purchase history, financial
                            details, and payment information
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>E. Biometric information</h3>
                    </td>
                    <td>
                        <p>Fingerprints and voiceprints</p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>F. Internet or other similar network activity</h3>
                    </td>
                    <td>
                        <p>
                            Browsing history, search history, online behavior,
                            interest data, and interactions with our and other
                            websites, applications, systems, and advertisements
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>G. Geolocation data</h3>
                    </td>
                    <td>
                        <p>Device location</p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            H. Audio, electronic, sensory, or similar
                            information
                        </h3>
                    </td>
                    <td>
                        <p>
                            Images and audio, video or call recordings created
                            in connection with our business activities
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            I. Professional or employment-related information
                        </h3>
                    </td>
                    <td>
                        <p>
                            Business contact details in order to provide you our
                            Services at a business level or job title, work
                            history, and professional qualifications if you
                            apply for a job with us
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>J. Education Information</h3>
                    </td>
                    <td>
                        <p>Student records and directory information</p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>
                            K. Inferences drawn from collected personal
                            information
                        </h3>
                    </td>
                    <td>
                        <p>
                            Inferences drawn from any of the collected personal
                            information listed above to create a profile or
                            summary about, for example, an individual’s
                            preferences and characteristics
                        </p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h3>L. Sensitive personal Information</h3>
                    </td>
                    <td>
                        <p></p>
                    </td>
                    <td>
                        <p>NO</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <p>
            We may also collect other personal information outside of these
            categories through instances where you interact with us in person,
            online, or by phone or mail in the context of:
        </p>
        <ul>
            <li>Receiving help through our customer support channels;</li>
            <li>Participation in customer surveys or contests; and</li>
            <li>
                Facilitation in the delivery of our Services and to respond to
                your inquiries.
            </li>
        </ul>
        <p>
            We will use and retain the collected personal information as needed
            to provide the Services or for:
        </p>
        <p>Category H - 1 year</p>
        <h2>Sources of Personal Information</h2>
        <p>
            Learn more about the sources of personal information we collect in
            <a href="#info-collection">"WHAT INFORMATION DO WE COLLECT?"</a>
        </p>
        <h2>How We Use and Share Personal Information</h2>
        <p>
            Learn more about how we use your personal information in the
            section,
            <a href="#how-we-process-your-info">
                "HOW DO WE PROCESS YOUR INFORMATION?"
            </a>
        </p>
        <h3>Will your information be shared with anyone else?</h3>
        <p>
            We may disclose your personal information with our service providers
            pursuant to a written contract between us and each service provider.
            Learn more about how we disclose personal information to in the
            section,
            <a href="#when-and-with-whom">
                "WHEN AND WITH WHOM DO WE SHARE YOUR PERSONAL INFORMATION?"
            </a>
        </p>
        <p>
            We may use your personal information for our own business purposes,
            such as for undertaking internal research for technological
            development and demonstration. This is not considered to be
            "selling" of your personal information.
        </p>
        <p>
            We have not disclosed, sold, or shared any personal information to
            third parties for a business or commercial purpose in the preceding
            twelve (12) months. We will not sell or share personal information
            in the future belonging to website visitors, users, and other
            consumers.
        </p>
        <h2>Your Rights</h2>
        <p>
            You have rights under certain US state data protection laws.
            However, these rights are not absolute, and in certain cases, we may
            decline your request as permitted by law. These include:
        </p>
        <ul>
            <li>
                <strong>Right to know</strong> whether or not we are processing your
                personal data
            </li>

            <li>
                <strong>Right to access</strong> your personal data
            </li>

            <li>
                <strong>Right to correct</strong> inaccuracies in your personal data
            </li>

            <li>
                <strong>Right to request</strong> the deletion of your personal data
            </li>

            <li>
                <strong>Right to obtain a copy</strong> of the personal data you previously
                shared with us
            </li>

            <li>
                <strong>Right to non-discriminaton</strong> for exercising your rights
            </li>
            <li>
                <strong>Right to Opt out</strong> of the processing of your personal
                data if it is used for targeted advertising (or sharing as defined
                under California's privacy law), the sale of personal data, or profiling
                in furtherance of decisions that produce legal or significantly significant
                effects ("profiling") <br />
                Depending upon the state where you live, you may also have the following
                rights:
            </li>
            <li>
                Right to access the categories of personal data being processed
                (as permitted by applicable law, including the privacy law in
                Minnesota)
            </li>
            <li>
                Right to obtain a list of the categories of third parties to
                which we have disclosed personal data (as permitted by
                applicable law, including the privacy law in California,
                Delaware, and Maryland)
            </li>
            <li>
                Right to obtain a list of specific third parties to which we
                have disclosed personal data (as permitted by applicable law,
                including the privacy law in Minnesota and Oregon)
            </li>
            <li>
                Right to review, understand, question, and correct how personal
                data has been profiled (as permitted by applicable law,
                including the privacy law in Minnesota)
            </li>
            <li>
                Right to limit use and disclosure of sensitive personal data (as
                permitted by applicable law, including the privacy law in
                California)
            </li>
            <li>
                Right to opt out of the collection of sensitive data and
                personal data collected through the operation of a voice or
                facial recognition feature (as permitted by applicable law,
                including the privacy law in Florida)
            </li>
        </ul>

        <h2>How to Exercise Your Rights</h2>
        <p>
            To exercise these rights, you can contact us by submitting a data
            subject access request, by emailing us at info@mutatidesign.com, or
            by referring to the contact details at the bottom of this document.
        </p>
        <p>
            Under certain US state data protection laws, you can designate an
            authorized agent to make a request on your behalf. We may deny a
            request from an authorized agent that does not submit proof that
            they have been validly authorized to act on your behalf in
            accordance with applicable laws.
        </p>
        <h2>Request Verification</h2>
        <p>
            Upon receiving your request, we will need to verify your identity to
            determine you are the same person about whom we have the information
            in our system. We will only use personal information provided in
            your request to verify your identity or authority to make the
            request. However, if we cannot verify your identity from the
            information already maintained by us, we may request that you
            provide additional information for the purposes of verifying your
            identity and for security or fraud-prevention purposes.
        </p>
        <p>
            If you submit the request through an authorized agent, we may need
            to collect additional information to verify your identity before
            processing your request and the agent will need to provide a written
            and signed permission from you to submit such request on your
            behalf.
        </p>
        <h2>Appeals</h2>
        <p>
            Under certain US state data protection laws, if we decline to take
            action regarding your request, you may appeal our decision by
            emailing us at info@mutatidesign.com. We will inform you in writing
            of any action taken in response to the appeal, including a written
            explanation of the reasons for the decisions. If your appeal is
            denied, you may submit a complaint to your state authority.
        </p>
        <h2>California "Shine The Light" Law</h2>
        <p>
            California Civil Code Section 1798.83, also known as the "Shine The
            Light" law, permits our users who are California residents to
            request and obtain from us, once a year and free of charge,
            information about categories of personal information (if any) we
            disclosed to third parties for direct marketing purposes and the
            names and addresses of all third parties with which we shared
            personal information in the immediately preceding calendar year. If
            you are a California resident and would like to make such a request,
            please submit your request in writing to us by using the contact
            details provided in the section "
            <a href="#info-contact">HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</a
            >"
        </p>

        <h2 id="info-updates">10. DO WE MAKE UPDATES TO THIS NOTICE?</h2>
        <p>
            <strong>
                <em>In Short:</em>
            </strong>{" "}
            Yes, we will update this notice as necessary to stay compliant with relevant
            laws.
        </p>
        <p>
            We may update this Privacy Notice from time to time. The updated
            version will be indicated by an updated "Revised" date at the top of
            this Privacy Notice. If we make material changes to this Privacy
            Notice, we may notify you either by prominently posting a notice of
            such changes or by directly sending you a notification. We encourage
            you to review this Privacy Notice frequently to be informed of how
            we are protecting your information.
        </p>

        <h2 id="info-contact">11. HOW CAN YOU CONTACT US ABOUT THIS NOTICE?</h2>
        <p>
            If you have questions or comments about this notice, you may email
            us at
            <a href="mailto:info@mutatidesign.com">
                info@mutatidesign.com{" "}
            </a>
            or contact us by post at:
        </p>
        <p>
            12255 SW 128th St Suite 402<br />
            Miami, Florida 33186
        </p>

        <h2 id="info-review">
            12. HOW CAN YOU REVIEW, UPDATE, OR DELETE THE DATA WE COLLECT FROM
            YOU?
        </h2>
        <p>
            Based on the applicable laws of your country or state of residence
            in the US, you may have the right to request access to the personal
            information we collect from you, details about how we have processed
            it, correct inaccuracies, or delete your personal information. You
            may also have the right to withdraw your consent to our processing
            of your personal information. These rights may be limited in some
            circumstances by applicable law. To request to review, update, or
            delete your personal information, please contact us at
            info@mutatidesign.com{" "}
        </p>
    </div>

</html>
