<section
  class="h-full w-full px-6 lg:px-24 flex flex-col gap-6 lg:gap-12 justify-center text-lg"
>
  <p class="font-medium text-xl lg:text-4xl lg:max-w-1/2 text-brown">
    Mutati is a luxury firm specializing in elevating the private jet travel
    experience, blending high-end interior design with an exclusive line of
    aviation products. Its vision is to transform every cabin into an impeccable
    and sophisticated space, recognizing that a jet is not merely
    transportation, but a personalized extension of its clients' lifestyle.
  </p>
  <a
    href="/about"
    class="text-button_text text-xl font-medium text-light bg-brown rounded-full px-6 py-2 lg:px-12 lg:py-4 lg:text-4xl w-fit"
    >See More</a
  >
</section>
