---
import { Image } from "astro:assets";
import carousel1 from "../assets/carousel1.jpg";
---

<section
  class="w-full min-h-screen flex flex-col lg:flex-row pt-44 pb-20 justify-between items-center gap-12 lg:gap-20 text-light bg-black px-6 lg:px-24"
>
  <h2 class="text-[clamp(2.5rem,12vw,5rem)] leading-14 italic lg:flex-[0.7]">
    <b>Before</b> / <span class="text-gray-500">After</span>
  </h2>
  <Image
    src={carousel1}
    alt="Before and After Image"
    class="w-full max-w-4xl object-cover lg:flex-[1.6]"
  />
  <h3
    class="text-center text-xl lg:text-3xl lg:ml-12 leading-loose lg:text-left w-[90%] flex-[0.7]"
  >
    Aged Leather Surfaces And Outdated Finishes That No Longer Reflect The
    Standard Of Contemporary Luxury.
  </h3>
</section>
