---
import PrimaryButton from "./helpers/PrimaryButton.astro";
import Logo_Large from "../assets/logo_large.svg";
import Borsoga from "../assets/borsoga/logo.svg";
---

<section
  id="footer"
  data-nav-color="text-brown"
  class="relative h-screen w-full bg-brown overflow-visible"
>
  <div
    class="absolute-container absolute bottom-0 left-0 top-[-140vh] lg:top-[-100vh] w-full pointer-events-none"
  >
    <div
      id="footer-curtain"
      class="sticky h-screen top-0 left-0 w-full bg-bone scale-y-0 origin-top"
    >
    </div>
  </div>

  <div
    class="absolute-container absolute bottom-0 left-0 top-[-140vh] lg:top-[-100vh] w-full pt-36 px-6 lg:px-24 content-end pointer-events-none"
  >
    <div
      class="sticky bottom-0 h-fit lg:h-fit flex flex-col gap-6 lg:gap-16 items-center justify-between"
    >
      <div
        class="footer-content-container flex flex-col lg:flex-row lg:justify-between items-stretch justify-center w-fit gap-12 lg:order-2 lg:hidden"
      >
        <PrimaryButton
          className="text-xl px-8 py-3 w-full text-center"
          text="LinkedIn"
        />
        <PrimaryButton
          className="text-xl px-8 py-3 w-full text-center"
          text="Facebook"
        />
        <PrimaryButton
          className="text-xl px-8 py-3 w-full text-center"
          text="Instagram"
        />
      </div>

      <div
        class="footer-content-container flex flex-col lg:flex-row gap-8 w-full justify-center lg:justify-between lg:order-1 text-brown pointer-events-auto"
      >
        <div>
          <h3 class="text-xl lg:text-4xl font-bold lg:leading-normal">
            Address
          </h3>
          <a
            href="https://www.google.com/maps/place/12255+SW+128th+St+Suite+402,+Miami,+FL+33186/@25.6517178,-80.3980481,17z"
            target="_blank"
            rel="noopener noreferrer"
            class="no-style hover-underline-animation"
          >
            <h4 class="text-lg lg:text-3xl lg:leading-normal inline-block">
              12255 SW 128th St Suite 402,<br class="hidden lg:block" /> Miami, Florida
              33186
            </h4>
          </a>
        </div>
        <div class="lg:text-right">
          <h3 class="text-xl lg:text-4xl font-bold lg:leading-normal">
            Email Us
          </h3>
          <a
            href="mailto:info@mutatidesign.com"
            class="no-style hover-underline-animation"
          >
            <h4 class="text-lg lg:text-3xl lg:leading-normal inline-block">
              info@mutatidesign.com
            </h4>
          </a>
        </div>
      </div>

      <div
        class="flex flex-col items-start justify-center text-left gap-8 w-full lg:order-2"
      >
        <div
          class="footer-content-container flex-row justify-between items-stretch w-full gap-12 hidden lg:flex text-xl lg:text-4xl"
        >
          <PrimaryButton
            className="lg:px-12 lg:py-4 w-fit text-center"
            text="LinkedIn"
          />
          <PrimaryButton
            className="lg:px-12 lg:py-4 w-fit text-center"
            text="Facebook"
          />
          <PrimaryButton
            className="lg:px-12 lg:py-4 w-fit text-center"
            text="Instagram"
          />
        </div>

        <div
          class="footer-line h-1 lg:h-[0.4rem] w-full scale-x-0 opacity-0 origin-center bg-brown"
        >
        </div>

        <Logo_Large
          id="footer-logo-ref"
          class="footer-content-container lg:opacity-0! w-full text-brown md:invisible pb-8 md:pb-0 pointer-events-none"
        />
        <div
          class="flex flex-col md:flex-row justify-between w-full items-center gap-4 z-500"
        >
          <a
            href="/privacy-policy"
            class="no-style text-brown text-base lg:text-2xl font-medium"
            target="_blank"
          >
            Privacy Policy
          </a>
          <a
            href="https://www.instagram.com/borsogastudio/"
            target="_blank"
            rel="noopener noreferrer"
            class="no-style flex gap-2 lg:gap-4 items-center lg:items-center justify-center lg:justify-end"
          >
            <p class="text-sm lg:text-2xl text-brown font-medium">
              This website was designed by
            </p>

            <Borsoga class="text-brown w-32 lg:w-64 pb-[0.1rem]" />
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";
  import { CustomEase } from "gsap/CustomEase";

  gsap.registerPlugin(ScrollTrigger, CustomEase);

  function initFooterAnimation() {
    const curtain = document.getElementById("footer-curtain");
    const footer = document.getElementById("footer");
    const navLogo = document.getElementById("nav-logo-center");
    const logoRef = document.getElementById("footer-logo-ref");
    const absoluteContainer = document.querySelectorAll("absolute-container");
    const faqSection = document.getElementById("FAQ");
    let originalNavColor: string | null = null;

    if (!curtain || !footer || !navLogo || !logoRef) return;

    // --- CONFIGURACIÓN INICIAL ---
    gsap.set(".footer-content-container", {
      yPercent: -40,
      autoAlpha: 0,
    });

    // Lógica de cálculo de distancias (Navbar -> Footer)
    const currentScroll = window.scrollY;
    const refRect = logoRef.getBoundingClientRect();
    const navRect = navLogo.getBoundingClientRect();

    // --- TRIGGER 1: TIMELINE CON SCRUB (Cortina y Logo) ---
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: footer,
        start: "-=80% top",
        end: "-=40% top",
        // markers: true,
        scrub: 3,
        invalidateOnRefresh: true,
        onEnter: () => {
          if (faqSection) {
            // Guardamos el color original
            originalNavColor = faqSection.getAttribute("data-nav-color");
            faqSection.setAttribute("data-nav-color", "text-brown");

            // Forzamos la actualización manual en caso de que el IntersectionObserver del Nav no haya disparado
            const nav = document.getElementById("main-nav");
            if (nav) {
              nav.className.split(" ").forEach((cls) => {
                if (cls.startsWith("text-")) nav.classList.remove(cls);
              });
              nav.classList.add("text-brown");
            }
          }
        },
        onLeaveBack: () => {
          if (faqSection && originalNavColor) {
            // Revertimos al color original
            faqSection.setAttribute("data-nav-color", originalNavColor);

            const nav = document.getElementById("main-nav");
            if (nav) {
              nav.className.split(" ").forEach((cls) => {
                if (cls.startsWith("text-")) nav.classList.remove(cls);
              });
              nav.classList.add(originalNavColor);
            }
          }
        },
      },
    });

    tl.to(
      curtain,
      {
        scaleY: 1,
        ease: "power3.inOut",
      },
      0,
    );

    tl.to(
      navLogo,
      {
        y: () => {
          const navRect = navLogo.getBoundingClientRect();
          const refRect = logoRef.getBoundingClientRect();
          // Distancia necesaria = Posición destino - Posición actual
          return refRect.top - navRect.top + refRect.height;
        },
        x: () => {
          const navRect = navLogo.getBoundingClientRect();
          const refRect = logoRef.getBoundingClientRect();
          // Corrección horizontal para asegurar encuadre perfecto al centro
          return (
            refRect.left +
            refRect.width / 2 -
            (navRect.left + navRect.width / 2)
          );
        },
        width: () => refRect.width,
        marginBottom: "4%",
        ease: "power3.inOut",
      },
      0,
    );
    tl.to(
      ".footer-content-container",
      {
        yPercent: 0,
        autoAlpha: 1,
        ease: "power3.inOut",
        scrollTrigger: {
          trigger: footer,
          scrub: 3,
          start: "-=30% 35%",
          end: "40% 70%",
          // markers: true,
          toggleActions: "play none none reverse",
        },
      },
      "<",
    );
    tl.to(".footer-line", { scaleX: 1, opacity: "100%" }, "<0.2");
    tl.to(
      ".absolute-container",
      {
        pointerEvents: "auto",
      },
      0.25,
    );

    ScrollTrigger.refresh();
  }

  window.addEventListener("load", initFooterAnimation);
  document.addEventListener("astro:after-swap", initFooterAnimation);
</script>

<style>
  #footer-curtain {
    transform-origin: top center;
  }

  .hover-underline-animation {
    display: inline-block;
    position: relative;
    text-decoration: none; /* Asegura que no haya subrayado predeterminado */
  }

  .hover-underline-animation h4::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 1px; /* Grosor del subrayado */
    bottom: 0;
    left: 0;
    background-color: currentColor; /* Usa el color del texto actual (brown) */
    transform-origin: bottom left;
    transition: transform 0.3s ease-out; /* Velocidad de la animación */
  }

  .hover-underline-animation:hover h4::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
