---
import Logo_Large from "../assets/logo_large.svg";
---

<section class="relative -z-10 w-full content-end h-dvh">
    <h1
        class="absolute w-fit right-6 top-1/2 -translate-y-1/2 text-brown text-[2.5rem] leading-12 font-light italic text-right"
    >
        Elevating <span class="font-bold italic">Craftsmanship</span>
    </h1>
    <div class="flex flex-col gap-2 h-fit items-end justify-center pb-16 px-6">
        <div class="h-1 w-full bg-brown"></div>
        <Logo_Large class="w-full" />
    </div>
</section>
