---
import { Image } from "astro:assets";
import InteriorSurfaceColor from "../assets/InteriorSurfaceColor.jpg";
import InteriorSurfaceGray from "../assets/InteriorSurface.jpg";
import InteriorSurfaceColorDesktop from "../assets/InteriorSurfaceColorDesktop.jpg";
import InteriorSurfaceGrayDesktop from "../assets/InteriorSurfaceDesktop.jpg";
const slides = [
  {
    mobile: InteriorSurfaceColor,
    desktop: InteriorSurfaceColorDesktop,
    alt: "Interior Surface Color",
  },
  {
    mobile: InteriorSurfaceGray,
    desktop: InteriorSurfaceGrayDesktop,
    alt: "Interior Surface Gray",
  },
];
---

<section
  class="h-dvh w-full flex flex-col justify-end items-start gap-8 lg:gap-16 relative px-6 lg:px-24 pb-28 pt-36 text-light"
>
  <div class="swiper-bg absolute inset-0 w-full h-full -z-10">
    <div class="swiper-wrapper h-full">
      {
        slides.map((slide, index) => (
          <div class="swiper-slide h-full">
            {/* Imagen para Móvil */}
            <Image
              src={slide.mobile}
              alt={slide.alt}
              class="w-full h-full object-cover lg:hidden"
            />
            {/* Imagen para Desktop */}
            <Image
              src={slide.desktop}
              alt={slide.alt}
              class="w-full h-full object-cover hidden lg:block"
            />
          </div>
        ))
      }
    </div>
  </div>
  <h2 class="text-3xl lg:text-6xl text-left">
    <b>Interior Surface</b>
    <br />
    Composition
  </h2>
  <p class="text-xl lg:text-3xl lg:max-w-1/3">
    Mutati methodology replaces industrial repetition with manual precision.
    Every texture within the cabin is treated as a proprietary asset, focusing
    on a tactile interface that remains exclusive to the Holder’s private
    registry.
  </p>

  <script>
    import Swiper from "swiper";
    import { EffectFade, Autoplay } from "swiper/modules";
    import "swiper/css";
    import "swiper/css/effect-fade";

    new Swiper(".swiper-bg", {
      modules: [EffectFade, Autoplay],
      effect: "fade",
      fadeEffect: { crossFade: true },
      loop: true,
      allowTouchMove: false,
      autoplay: {
        delay: 3500,
        disableOnInteraction: false,
        pauseOnMouseEnter: false,
      },
      speed: 2500,
      slidesPerView: 1,
      navigation: false,
      pagination: false,
    });
  </script>

  <style>
    .swiper-bg {
      position: absolute;
      inset: 0;
      width: 100%;
      height: 100%;
      z-index: -5;
      background-color: black;
    }
    .swiper-bg .swiper-slide {
      width: 100%;
      height: 100%;
    }
    .swiper-bg img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .swiper-bg .swiper-wrapper {
      width: 100%;
      height: 100%;
    }
  </style>
</section>
