---
import Logo from "../assets/logo.svg";
import BurgerMenu from "../assets/burger_menu.svg";
---

<nav class="w-full text-brown fixed z-50 backdrop-blur-sm">
    <div
        class="flex justify-between items-center px-6 pt-10 pb-6 bg-gradient-to-b from-white/20 to-transparent"
    >
        <BurgerMenu class="w-14 h-14" />
        <div class="flex items-center gap-6">
            <Logo class="absolute left-1/2 -translate-x-1/2 w-16 h-16" />
            <a
                href="/"
                class="text-button_text bg-brown px-6 py-2 rounded-full text-xl font-medium"
                >APPLY</a
            >
        </div>
    </div>
</nav>
