---
import Statistics from "../assets/statistics.svg";
const { title = "", subtitle = "", text = "" } = Astro.props;
---

<section class="h-dvh w-full snap-start">
    <h2 class="text-6xl" " < section></h2>
</section>
