---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Mutati Design</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>

<style>
  html {
    scroll-behavior: smooth;
  }

  html,
  body {
    z-index: -20;
    /* overflow-x: hidden; */
    margin: 0;
    padding: 0;
    width: 100%;
    position: relative;
  }

  /* Ocultar barra en Chrome, Safari y Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
</style>
